html,
body {
  margin: 0px;
}
header {
  background-color: #eb8716;
  color: #fff;
  width: 98%;
  height: 200px;
  margin: 1%;
}
header h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 60px;
  font-size: 50px;
}

.wrapper {
  background-color: #90cee8;
  width: 98%;
  height: 400px;
  margin: 1%;
}
.wrapper .page {
  width: 18%;
  height: 180px;
  background-color: #006f9e;
  display: inline-block;
  margin: 0.4%;
}
footer {
  background-color: #006f9e;
  color: #fff;
  width: 98%;
  height: 60px;
  margin: 1%;
}
footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
}

.image_link {
  height: 180px;
  width: 18.5vw;
  margin: 1% 0 1% 1%;
}
.image_link:hover {
  filter: grayscale(70%);
}
.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  }
  .active-slide{
  opacity: 1;
  z-index: 2;
  }